@import url("https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap");
.data {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #f59e0d;
}
data {
  font-family: "Tiro Devanagari Hindi", serif;
  background: rgb(58, 180, 117);
  background-color: #f59e0d;
}
.col-md-6 {
  background-color: white;
  height: auto;
  width: 500px;
}
.heading {
  padding: 11px 0 10px 0;
}
.data1 {
  background-color: white;

  border: none;
}
.space1 {
  height: 50px;
  display: flex;
  justify-content: center;
  border: 4px solid white;
  cursor: pointer;
  align-items: center;
}
input {
  height: 38px;
}
.form-data {
  margin-top: 29px;
}
label {
  font-size: 21px;
}
.check-me {
  font-size: 14px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.signup,
.heading {
  color: rgba(245, 158, 13, 1);
  cursor: pointer;
}
.member {
  text-align: center;
  margin-top: 20px;
}
.login-button {
  width: 100%;
  height: 46px;
  margin-top: 17px;
  background: rgba(245, 158, 13, 1);
}
.card-data {
  border: 1px solid;
  border: none;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
